
section a {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

section a:hover {
    color: var(--zelena);
    transition: color .3s ease-in-out;
}

h3 {
    text-align: center;
}

#kontakty {
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#mapa {
    text-align: center;
}


#mapa iframe {
    max-width: 100%;
    border-radius: 15px;
}

#socialnisite {
    float: left
}

ul {
    display: flex;
    position: inherit;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 30px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
    font-weight: bold;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  }
  
  ul li:nth-child(3) a:before {
    background: #55acee;
  }

@media screen and (min-width:200px) and (max-width:1280px) {
    #kontakty {
        width: 300px;
    }
    ul li a {
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      font-size: 35px;
      margin: 0 -.30em;
      display: block;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      z-index: 1;
    }

    ul li {
      list-style: none;
      padding: 1em;
    }
    #socialnisite {
      margin-left: -1.5em;
    }
    #adresa, #doba, #tel, #email{
      margin-top: 2.5em;
    }

}

@media screen and (min-width:1281px) {
    #adresa {
        float: left;
        width: 240px;
    }
    
    #doba {
        float: left;
        width: 240px;
    }
    
    #tel {
        float: left;
        width: 240px;
    }
    
    #email {
        float: left;
        width: 240px;
    }
    #adresa, #doba{
      margin-top: 2.5em;
    }
    
    #tel, #email{
      margin-top: 1.5em;
    }
}