
.icon-home:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-dessert:before { content: '\e803'; } /* '' */
.icon-drink:before { content: '\e804'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
